@import url('https://fonts.cdnfonts.com/css/star-wars');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Star Wars', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}